.footer-for-card {
    display: flex; 
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* position: absolute; */
    /* top: 32rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #f2f2f2; */
    padding: 10px;
    box-sizing: border-box;
}
.area-for-name {
    display: flex;
    flex-direction: column;
}
.area-for-dp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
img.profile-photo {
    border-radius: 50%;
    width: 75px;
}